/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}


footer{
  color:#ccc;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav{
  position: fixed;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*-----------------------------------------Main code----------------------------------------------------*/
.navbar-nav > li > .dropdown-menu > .dropdown-item:active { background-color: #000005 !important; }
@media screen and (max-width: 580px){
  .hide-on-small{
    display: none;
  }

  #showcase{
    height: 50vh;
  }

  #showcase .container{
    margin-top: 15vh;
  }

  #showcase h1{
    font-size: 3rem;
  }

  #showcase h2{
    font-size: 1.5rem;
  }
}

@font-face{
  font-family: DancingScript;
  src:url(DancingScript-Bold.ttf);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.page-footer{
   width:100%;
}

.unselectable{
  font-family: DancingScript;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.header-padding{
  padding-left: 10px;
}

/*CSS Variables*/
:root{
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

body{
  background-color: #252529;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  font-family: 'PT Sans', sans-serif;
}

.footer-copyright{
  background-color: #303136;
}

hr{
  border-color: #dc3545;
}

img{
  width: 100%;
}

.head-container{
  padding-top:15px;
  padding-bottom:15px;
}

#showcase{
  margin: 0;
  padding: 0;
  background: url('../images/showcase.jpg') no-repeat
  center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  color: #fff;
}

#showcase .container{
  margin-top: 25vh;
}

#showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2{
  font-size: 2rem;
}

/*Section*/
.section{
  padding: 4rem 0;
}

.section-head{
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 20px; 
}

.section{
  font-size: 2rem;
}

/*font size small for sections*/

.sppartsection{
  font-size: 1rem; 
}

.biketemplatesec{
  font-size: 1rem;
}

.modsection{
    font-size: 1rem; 
}

.addressconsec{
    font-size: 1rem; 
}

.paymentsec{
  font-size: 1rem;
}

.orderconsec{
  font-size: 1rem;
}

.postadsection{
  font-size: 1rem;
}

.fontsec{
  font-size: 1rem; 
}

.order-method-div-top{
  text-align: left;
}

.cart-div-second{
  text-align: left;
}

.payment-method-div-third{
    text-align: left;
}

.order-number-div{
  text-align:left;
}

.orderconmain hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#dc3545;
  height: 1px;

}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.row {
  display: flex;
}

.left {
  flex: 20%;
  border-right: 2px #343a40 solid;
}

.right {
  flex: 80%;
  padding-left: 10px;
}

.modright{
  flex: 50%;
  padding-left: 10px;
}

.modleft{
  flex: 50%;
}

.modleft1{
  flex: 33.3%
}

.modright1{
  flex: 33.3%
}

.modmiddle1{
  flex: 33.3%
}

.orderconleft{
 flex: 50%;
}

.orderconright{
  flex: 50%;
}

.leftsparep{
  flex: 33.3%;
}

.middlesparep{
  flex: 33.3%; 
}

.rightsparep{
  flex: 33.3%;
}

.paymentleft{
  -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 748px;
    -ms-flex-preferred-size: 748px;
    flex-basis: 748px;
}

.paymentright{
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    width: 390px;
    margin-left: 30px;
    -webkit-flex-basis: 392px;
    -ms-flex-preferred-size: 392px;
    flex-basis: 392px;
}

.paymentmain{
  align-items: flex-start;
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.paymentright .form-row p{
  text-align:right;
}

.payment-total-left{
  flex: 50%;
}

.payment-total-right{
  flex: 50%;
  
}

.lead{
  font-size: 1.3rem;
}

.columnleft{
  float: left;
}

/*Utility classes*/
.container{
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.spmain{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 3rem;
  /*background-color: white;*/
  color: white;
  border-radius: 5px;
}

.modmain{
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
  padding: 0 3rem;
  /*background-color: white;*/
  color: white;
  border-radius: 5px;
  padding-top: 40px;
}

#modimage{
  position: absolute;
  width: 100%;
  height: 100%;
}


.modmarginleft{
  display: flex;
  justify-content: center;
}

.packageList{
  padding-top: 30px;
  list-style-position: inside;
  text-align: left;
}


.moderror{
  color : red;
  text-align: center;
}

.select2-results {  
  color:black;
}

.container a{
  margin-bottom: 3vh;
}

.border-new{
  border: 1px solid #343a40 !important;
}

.mb{
  margin-bottom: 1rem;
}

.mt{
  margin-top: 1rem;
}

.pr{
  padding-right: 12rem !important;
}

.hide{
  display:none;
}

#upload_file{
  color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="file"] {
    display: none !important;
}

.aaa .imagebutton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.aaa img{
  width: 100%;
  height: auto;
}

.show{
  display:block;
}

/*Slideshow*/

.slider {
  max-width: 1920px;
  height: 700px;
  margin: 20px auto;
  position: relative;
}

.modslider{
  max-width: 1920px;
  height: 400px;
  margin: 8px auto;
  position: relative;
}

.pkgslider{
  width: auto;
  height: 200px;
  margin: 20px auto;
  position: relative;
}

.pkgslider2{
  width: auto;
  height: 300px;
  margin: 20px auto;
  position: relative;
}

.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,
.pkg1slide1,.pkg1slide2,.pkg1slide3,.pkg2slide1,.pkg2slide2,.pkg2slide3,
.pkg3slide1,.pkg3slide2,.pkg3slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../images/modify.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(../images/modify2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(../images/modify3.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}

.slide4 {
  background: url(../images/purchase1.jpg)no-repeat center;
      background-size: cover;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;

} 
.slide5 {
  background: url(../images/purchase2.jpg)no-repeat center;
      background-size: cover;
    animation:fade5 8s infinite;
-webkit-animation:fade5 8s infinite;
}
.slide6 {
    background: url(../images/purchase3.jpg)no-repeat center;
      background-size: cover;
    animation:fade6 8s infinite;
-webkit-animation:fade6 8s infinite;
}

.slide7 {
  background: url(../images/a_dvert1.jpg)no-repeat center;
      background-size: cover;
    animation:fade7 8s infinite;
-webkit-animation:fade7 8s infinite;

} 
.slide8 {
  background: url(../images/a_dvert2.jpg)no-repeat center;
      background-size: cover;
    animation:fade8 8s infinite;
-webkit-animation:fade8 8s infinite;
}
.slide9 {
    background: url(../images/modify3.jpg)no-repeat center;
      background-size: cover;
    animation:fade9 8s infinite;
-webkit-animation:fade9 8s infinite;
}

.pkg1slide1{
  background: url(../images/modify.jpg)no-repeat center;
        background-size: cover;
      animation:fade10 8s infinite;
  -webkit-animation:fade10 8s infinite;
}

.pkg1slide2{
  background: url(../images/modify2.jpg)no-repeat center;
      background-size: cover;
    animation:fade11 8s infinite;
-webkit-animation:fade11 8s infinite;
}

.pkg1slide3{
  background: url(../images/modify3.jpg)no-repeat center;
      background-size: cover;
    animation:fade12 8s infinite;
-webkit-animation:fade12 8s infinite;
}

.pkg2slide1{
  background: url(../images/purchase1.jpg)no-repeat center;
        background-size: cover;
      animation:fade13 8s infinite;
  -webkit-animation:fade13 8s infinite;
}

.pkg2slide2{
  background: url(../images/purchase2.jpg)no-repeat center;
      background-size: cover;
    animation:fade14 8s infinite;
-webkit-animation:fade14 8s infinite;
}

.pkg2slide3{
  background: url(../images/purchase3.jpg)no-repeat center;
      background-size: cover;
    animation:fade15 8s infinite;
-webkit-animation:fade15 8s infinite;
}

.pkg3slide1{
  background: url(../images/a_dvert1.jpg)no-repeat center;
        background-size: cover;
      animation:fade13 8s infinite;
  -webkit-animation:fade13 8s infinite;
}

.pkg3slide2{
  background: url(../images/a_dvert2.jpg)no-repeat center;
      background-size: cover;
    animation:fade14 8s infinite;
-webkit-animation:fade14 8s infinite;
}

.pkg3slide3{
  background: url(../images/purchase2.jpg)no-repeat center;
      background-size: cover;
    animation:fade15 8s infinite;
-webkit-animation:fade15 8s infinite;
}

 .select2-search__field { width: 100% !important; }

.home-pick label{
  width: 210px;
  text-align: right;
  margin-right: 20px;
  line-height: 36px;
}

.advertpick label{
  width: 210px;
  text-align: right;
  margin-right: 20px;
  line-height: 36px;
}


/*filter stuff*/

.filterDiv {
  float: left;
  width: 300px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.filter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.filter:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.filter.active {
  background-color: #666;
  color: white;
}

#myInput {
  background-image: url('../images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}


@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade5
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade6
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade7
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade8
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade9
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade10
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade11
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade12
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade13
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade14
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade15
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade16
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade17
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade18{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-familyly: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color:#dc3545;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#demo-2 input[type=search]:hover {
  background-color: #dc3545;
}

#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
/* Style the form - display items horizontally */
.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
/*------------------------------------------------------------------------------------*/
                                      /*FILTERS*/
/*------------------------------------------------------------------------------------*/

.search-page-new .sidebar-filters {
    background-color: white;
    border-left: 1px solid #EAEDEF;
    border-right: 1px solid #EAEDEF;
    border-bottom: 1px solid #EAEDEF
}

.search-page-new .sidebar-filters>.box {
    margin-bottom: 0;
    border-top: 0;
    border-left: 0
}

.search-page-new .sidebar-filters>.box .count {
    line-height: 20px;
    font-size: 10px;
    color: #7b8397
}

.search-page-new .sidebar-filters+.search-listing.col-md-10>.box {
    margin-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0
}

.search-page-new .sidebar-filters+.search-listing .alert-bar {
    line-height: 2.5
}

.search-page-new .row>.col-md-2 .box .accordion-group {
    border: 0
}

.search-page-new .row>.col-md-2 .box .accordion-group .accordion-heading .accordion-toggle {
    padding-left: 0;
    padding-right: 0
}

.search-page-new .row>.col-md-2 .box .accordion-group .accordion-heading .accordion-toggle a {
    display: block
}

.search-page-new .row>.col-md-2 .box .accordion-group .accordion-inner {
    padding-left: 0;
    padding-right: 0
}

.filter-panel-new .accordion-group {
    background-color: white;
    font-size: 12px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0
}

.filter-panel-new .accordion-group .accordion-heading {
    overflow: hidden;
    padding: 0 20px;
    border-top: 1px solid #343a40 ;
    border-bottom: 1px solid #343a40 ;
    background-color: #252529;
    line-height: 22px
}

.filter-panel-new .accordion-group .accordion-heading .accordion-toggle i {
    font-size: 14px;
    line-height: 21px
}

.filter-panel-new .accordion-group .accordion-heading .accordion-toggle .fa-caret-down {
    float: right
}

.filter-panel-new .accordion-group .accordion-heading .accordion-toggle.collapsed i.fa-caret-down:before {
    content: "\f0d7"
}

.filter-panel-new .accordion-group .accordion-heading a {
    color: white;
    font-weight: bold;
    padding: 9px 10px;
    letter-spacing: 0.002em;
    text-transform: uppercase;
    display: block
}

.filter-panel-new .accordion-group .accordion-heading .clear-filters {
    width: auto;
    font-size: 10px;
    font-weight: normal;
    color: #518ecb;
    text-shadow: none
}

.filter-panel-new .accordion-group .accordion-body {
    padding: 0 20px
}

.filter-panel-new .accordion-group .accordion-body input[type="text"],.filter-panel-new .accordion-group .accordion-body select {
    width: 100%;
    height: 30px;
    border-radius: 2px
}

.filter-panel-new .accordion-group .accordion-body input.btn {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 18px
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner {
    border: 0;
    background-color: #fff;
    padding: 20px
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner>ul li {
    border: 0;
    padding-top: 2px;
    padding-bottom: 2px
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner>ul li a {
    color: #353944
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner>ul li a:hover {
    color: #233d7b
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner>ul li a .fa-times-circle {
    font-size: 14px;
    color: #518ecb
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner form {
    position: relative
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner form .refine-go {
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: none
}

.filter-panel-new .accordion-group .accordion-body .accordion-inner .slider-label {
    color: #353944;
    font-size: 14px
}

.filter-panel-new .accordion-group .accordion-body .pull-right.count {
    padding: 0 5px;
    line-height: 15px;
    border: 1px solid #EAEDEF;
    min-width: 32px;
    text-align: center;
    border-radius: 10px
}

.filter-panel-new .accordion-group .accordion-body .srch-filter .pull-right.count {
    padding: 0;
    border: none;
    min-width: 0
}

.rides-slider>.unstyled,.filter-panel-new .accordion-group .accordion-body .accordion-inner.rides-slider>ul {
    margin-right: -10px;
    margin-left: -10px
}


.price-list.unstyled,.filter-panel-new .accordion-group .accordion-body .accordion-inner>ul.price-list {
    overflow: hidden
}

.faqs .accordion-group {
    margin-bottom: 0;
    border: 1px solid #f1f1f1;
    border-top: none
}

.faqs .accordion-group:first-child {
    border-top: 1px solid #f1f1f1
}


.list-unstyled {
    padding-left: 0;
    list-style: none
}


.search-page-new label.filter-check,.search-page-new label.filter-uncheck {
    display: block
}


.breadcrumb {
    padding: 0px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 2px
}

.breadcrumb>li {
    display: inline-block
}

.breadcrumb>li+li:before {
    content: "/ ";
    padding: 0 5px;
    color: #7b8397
}

.breadcrumb>.active {
    color: #7b8397
}

.used-car-show-page .col-md-8 .breadcrumb,.used-bike-show-page .col-md-8 .breadcrumb {
    float: left;
    margin-bottom: 0;
    margin-top: 4px
}

.breadcrumb {
    margin: 0 0 10px;
    background: 0;
    padding: 0
}

.breadcrumb a {
    color: #7b8397
}

.breadcrumb a:hover {
    text-decoration: underline
}

.rides-search-results .breadcrumb {
    float: left
}

.breadcrumb {
    margin-bottom: 10px
}

.filter-check label{
  color: black;
}

/*------------------------------------------------------------------------------------*/
                                      /*FILTERS*/
/*------------------------------------------------------------------------------------*/


/* ---- button-group ---- */



/* ---- isotope ---- */



/* clear fix */


/* ui group */


input[type="file"] {
  display: block !important;
}
.imageThumb {
  max-height: 85px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
.redborder {
    border-color: red !important;
}

.thumbimg{
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

table, th, td {
  border-bottom: 2px solid #dc3545;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}

#cartIcon
{
    width:40px;
    height: 40px;
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color: #dc3545;
    left:30px;
    bottom:30px;
}


/* CHAT CSS*/

img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.show{
  display: block !important;
}

input[type="radio"] {
    display:none; 
}

.activeradio { background:#dc3545; }