/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}


footer{
	color:#ccc;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav{
	position: fixed;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*Main code*/
@media screen and (max-width: 580px){
	.hide-on-small{
		display: none;
	}

	#showcase{
		height: 50vh;
	}

	#showcase .container{
		margin-top: 15vh;
	}

	#showcase h1{
		font-size: 3rem;
	}

	#showcase h2{
		font-size: 1.5rem;
	}
}

@font-face{
	font-family: DancingScript;
	src:url(DancingScript-Bold.ttf);
}

.page-footer{
   width:100%;
}

.unselectable{
	font-family: DancingScript;
	-webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.header-padding{
  padding-left: 10px;
}

/*CSS Variables*/
:root{
	--primary-color: #b90415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--light-color: #f4f4f4;
}

body{
	background-color: #252529;
	color: #fff;
	margin: 0;
	line-height: 1.6;
	font-family: 'PT Sans', sans-serif;
}

.footer-copyright{
	background-color: #303136;
}

hr{
	border-color: #dc3545;
}

img{
	width: 100%;
}

.head-container{
	width:100%;
	height: 150px;
	background-color: #dc3545;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
	font-size: 30px;
	font-family: DancingScript;
}

#showcase{
	margin: 0;
	padding: 0;
	background: url('../images/showcase.jpg') no-repeat
	center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
	color: #fff;
}

#showcase .container{
	margin-top: 25vh;
}

#showcase h1{
	font-size: 4rem;
	margin-bottom: 0;
}

#showcase h2{
	font-size: 2rem;
}

/*Section*/
.section{
	padding: 4rem 0;
}

.section-head{
	font-size: 2.5rem;
	margin: 0;
	margin-bottom: 20px; 
}

.section{
	font-size: 2rem;
}

.sppartsection{
  font-size: 1rem; 
}

.modsection{
    font-size: 1rem; 
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.row {
  display: flex;
}

.left {
  flex: 25%;
  border-right: 2px white solid;
}

.right {
  flex: 75%;
  padding-left: 10px;
}

.modright{
  flex: 50%;
  padding-left: 10px;
}

.modleft{
  flex: 50%;
}

.lead{
	font-size: 1.3rem;
}

.columnleft{
  float: left;
}

/*Utility classes*/
.container{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

.spmain{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 3rem;
  /*background-color: white;*/
  color: white;
  border-radius: 5px;
}

.modmain{
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
  padding: 0 3rem;
  /*background-color: white;*/
  color: white;
  border-radius: 5px;
  padding-top: 40px;
}

#modimage{
  position: absolute;
  width: 100%;
  height: 100%;
}


.modmarginleft{
  display: flex;
  justify-content: center;
}

.moderror{
  color : red;
  text-align: center;
}

.select2-results {  
  color:black;
}

.container a{
	margin-bottom: 3vh;
}

.border-new{
	border: 3px solid #343a40 !important;
}

.mb{
	margin-bottom: 1rem;
}

.mt{
	margin-top: 1rem;
}

.pr{
  padding-right: 12rem !important;
}

.hide{
  display:none;
}
.show{
  display:block;
}

/*Slideshow*/

.slider {
  max-width: 1920px;
  height: 700px;
  margin: 20px auto;
  position: relative;
}

.modslider{
  max-width: 1920px;
  height: 400px;
  margin: 8px auto;
  position: relative;
}

.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../images/modify.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(../images/modify2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(../images/modify3.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}

.slide4 {
  background: url(../images/purchase1.jpg)no-repeat center;
      background-size: cover;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;

} 
.slide5 {
  background: url(../images/purchase2.jpg)no-repeat center;
      background-size: cover;
    animation:fade5 8s infinite;
-webkit-animation:fade5 8s infinite;
}
.slide6 {
    background: url(../images/purchase3.jpg)no-repeat center;
      background-size: cover;
    animation:fade6 8s infinite;
-webkit-animation:fade6 8s infinite;
}

.slide7 {
  background: url(../images/a_dvert1.jpg)no-repeat center;
      background-size: cover;
    animation:fade7 8s infinite;
-webkit-animation:fade7 8s infinite;

} 
.slide8 {
  background: url(../images/a_dvert2.jpg)no-repeat center;
      background-size: cover;
    animation:fade8 8s infinite;
-webkit-animation:fade8 8s infinite;
}
.slide9 {
    background: url(../images/modify3.jpg)no-repeat center;
      background-size: cover;
    animation:fade9 8s infinite;
-webkit-animation:fade9 8s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade5
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade6
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fad7
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade8
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade9
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color:#dc3545;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #dc3545;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}